dist: trusty
language: ruby
jobs:
  include:
    - name: jruby-9.1.15.0 / Parser tests
      rvm: jruby-9.1.15.0
      script: bundle exec rake test
    - name: truffleruby / Parser tests
      rvm: truffleruby
      script: TRUFFLERUBYOPT=--engine.Mode=latency bundle exec rake test
    - name: 2.4.10 / Parser tests
      rvm: 2.4.10
      script: bundle exec rake test_cov
    - name: 2.5.8 / Parser tests
      rvm: 2.5.8
      script: bundle exec rake test_cov
    - name: 2.6.6 / Parser tests
      rvm: 2.6.6
      script: bundle exec rake test_cov
    - name: 2.7.1 / Parser tests
      rvm: 2.7.1
      script: bundle exec rake test_cov
    - name: ruby-head / Parser tests
      rvm: ruby-head
      script: bundle exec rake test_cov
    - name: 2.5.8 / Rubocop tests
      rvm: 2.5.8
      script: ./ci/run_rubocop_specs
    - name: 2.6.6 / Rubocop tests
      rvm: 2.6.6
      script: ./ci/run_rubocop_specs
    - name: 2.7.1 / Rubocop tests
      rvm: 2.7.1
      script: ./ci/run_rubocop_specs
  allow_failures:
    - rvm: ruby-head
    - script: ./ci/run_rubocop_specs
before_install:
  - bundle --version
  - gem --version
