dist: trusty
language: ruby
matrix:
  include:
    - name: 2.0.0 / Parser tests
      rvm: 2.0.0
      script: bundle exec rake test_cov
    - name: 2.2.10 / Parser tests
      rvm: 2.2.10
      script: bundle exec rake test_cov
    - name: 2.3.8 / Parser tests
      rvm: 2.3.8
      script: bundle exec rake test_cov
    - name: 2.4.9 / Parser tests
      rvm: 2.4.9
      script: bundle exec rake test_cov
    - name: 2.5.7 / Parser tests
      rvm: 2.5.7
      script: bundle exec rake test_cov
    - name: 2.6.5 / Parser tests
      rvm: 2.6.5
      script: bundle exec rake test_cov
    - name: 2.7.0 / Parser tests
      rvm: 2.7.0
      script: bundle exec rake test_cov
    - name: ruby-head / Parser tests
      rvm: ruby-head
      script: bundle exec rake test_cov
    - name: jruby-9.1.15.0 / Parser tests
      rvm: jruby-9.1.15.0
      script: bundle exec rake test_cov
    - name: rbx-2 / Parser tests
      rvm: rbx-2
      script: bundle exec rake test_cov
    - name: 2.5.7 / Rubocop tests
      rvm: 2.5.7
      script: ./ci/run_rubocop_specs
    - name: 2.6.5 / Rubocop tests
      rvm: 2.6.5
      script: ./ci/run_rubocop_specs
    - name: 2.7.0 / Rubocop tests
      rvm: 2.7.0
      script: ./ci/run_rubocop_specs
  allow_failures:
    - rvm: ruby-head
    - rvm: rbx-2
    - script: ./ci/run_rubocop_specs
before_install:
  - gem install bundler -v '< 2'
  - bundle --version
  - gem --version
