name: Tests

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
      TRUFFLERUBYOPT: "--engine.Mode=latency"
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.0.7", "3.1.6", "3.2.5", "3.3.4", "jruby-9.2"]
        test_command: ["bundle exec rake test"]
        include:
          - ruby: "head"
            test_command: "bundle exec rake test || true"
          - ruby: "truffleruby"
            test_command: "bundle exec rake test || true"
          - ruby: "3.2.5"
            test_command: "./ci/run_rubocop_specs || true"
          - ruby: "3.3.4"
            test_command: "./ci/run_rubocop_specs || true"
    steps:
    - uses: actions/checkout@v4
    - name: Install Ragel
      run: |
        sudo apt-get update
        sudo apt-get install ragel
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run tests
      run: |
        ${{ matrix.test_command }}
